{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}
{% block body %}
    
{% include '/event/handling.html.twig' %}
    
<div class="row">

 <div class="col-3">
    {% if past %}
      <h3>Past Events</h3>
    {% elseif upcoming %}
      <h3>Upcoming Events</h3>
    {% else %}
      <h3>Ongoing Events</h3>
    {% endif %}
 </div>

 <div class="col-1">
    {% if not upcoming %}
   <a href="{{ path('event_index', {'upcoming': true }) }}" class="btn-sm btn-light">Upcoming</a>
    {% endif %}
    {% if not past %}
    <a href="{{ path('event_index', {'past': true }) }}" class="btn-sm btn-light">Past</a>
    {% endif %}
 </div>
 <div class="col-3">
{#
    <input id="hidereadycheckbox" type="checkbox" onChange="checkReadyCheckbox(this)">Hide ready events</input>
 #}
 </div>

 <div class="col-2 ml-auto">
   <a href="{{ path('event_new') }}" class="btn-sm btn-dark">New Event</a>
 </div>

</div>

{% include '/event/_index.html.twig' %}

{% endblock %}
