{
    "name": "bisonlab/crewcall",
    "license": "Affero GPL v3",
    "type": "project",
    "description": "The CrewCall Base applitcation",
    "homepage": "https://github.com/BisonLab/CrewCall",
    "authors": [
        {
            "name": "Thomas Lundquist",
            "email": "github@bisonlab.no"
        }
    ],
    "autoload": {
        "psr-4": { "": "src/" },
        "classmap": [ "app/AppKernelCustomTrait.php", "app/AppKernel.php", "app/AppCache.php" ]
    },
    "autoload-dev": {
        "psr-4": { "Tests\\": "tests/" }
    },
    "require": {
        "php": "^7.0",
        "doctrine/doctrine-bundle": "^1.6",
        "doctrine/orm": "^2.5",
        "incenteev/composer-parameter-handler": "^2.0",
        "sensio/distribution-bundle": "^5.0.19",
        "sensio/framework-extra-bundle": "^3.0.2",
        "symfony/monolog-bundle": "^3.1.0",
        "symfony/polyfill-apcu": "^1.0",
        "symfony/swiftmailer-bundle": "^2.3.10",
        "symfony/symfony": "3.4.*",
        "twig/twig": "^1.0||^2.0",
        "stof/doctrine-extensions-bundle": "1.2.*@dev",
        "jms/di-extra-bundle": "dev-master",
        "jms/security-extra-bundle": "1.6.*@dev",
        "jms/serializer-bundle": "^2.0",
        "braincrafted/bootstrap-bundle": "dev-master",
        "twbs/bootstrap": "^3.3",
        "components/jquery": "^3.1",
        "components/jquery": "^3.1",
        "components/jqueryui": "^1.12",
        "symfony/assetic-bundle": "^2.8",
        "robloach/component-installer": "^0.2",
        "knplabs/knp-menu-bundle": "^2.0",
        "friendsofsymfony/user-bundle": "2.0.*@dev",
        "bisonlab/sakonnin-bundle": "dev-master",
        "bisonlab/takardun-bundle": "dev-master",
        "bisonlab/reports-bundle": "master@dev",
        "bisonlab/common-bundle": "dev-master",
        "bisonlab/noorm-bundle": "dev-master",
        "fullcalendar/fullcalendar": "^3.8",
        "commerceguys/addressing": "dev-master"
    },
    "require-dev": {
        "sensio/generator-bundle": "^3.0",
        "symfony/phpunit-bridge": "^3.0"
    },
    "scripts": {
        "symfony-scripts": [
            "Incenteev\\ParameterHandler\\ScriptHandler::buildParameters",
            "Sensio\\Bundle\\DistributionBundle\\Composer\\ScriptHandler::buildBootstrap",
            "Sensio\\Bundle\\DistributionBundle\\Composer\\ScriptHandler::clearCache",
            "Sensio\\Bundle\\DistributionBundle\\Composer\\ScriptHandler::installAssets",
            "Sensio\\Bundle\\DistributionBundle\\Composer\\ScriptHandler::installRequirementsFile",
            "Sensio\\Bundle\\DistributionBundle\\Composer\\ScriptHandler::prepareDeploymentTarget"
        ],
        "post-install-cmd": [
            "@symfony-scripts",
            "Braincrafted\\Bundle\\BootstrapBundle\\Composer\\ScriptHandler::install"
        ],
        "post-update-cmd": [
            "@symfony-scripts",
            "Braincrafted\\Bundle\\BootstrapBundle\\Composer\\ScriptHandler::install"
        ]
    },
    "config": {
        "component-dir": "web/public",
        "platform": {
            "php": "7.0.15"
        },
        "sort-packages": true
    },
    "extra": {
        "symfony-app-dir": "app",
        "symfony-bin-dir": "bin",
        "symfony-var-dir": "var",
        "symfony-web-dir": "web",
        "symfony-tests-dir": "tests",
        "symfony-assets-install": "relative",
        "incenteev-parameters": {
            "file": "app/config/parameters.yml",
            "keep-outdated": true
        },
        "branch-alias": {
            "dev-master": "3.3-dev"
        }
    }
}
