<script type="text/javascript">

function setupSortable(sort_table) {
    if ($(sort_table).find('>tbody >tr').length > 100) {
        $(sort_table).dataTable({
            "pageLength": 100,
            "lengthMenu": [[ 100, 200, 500, -1], [100, 200, 500, "All"]],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });
        $(sort_table).on( 'page.dt', function () {
            $('html, body').animate({
                scrollTop: 0
            }, 300);
        } );
    } else if ($(sort_table).find('>tbody >tr').length < 20) {
        $(sort_table).dataTable({
            "paging": false,
            "searching": false,
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
            });
    } else {
        $(sort_table).dataTable({
            "paging": false,
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
            });
    }
}

$(document).ready(function() {

    $(".sortable_table").each(function() {
        setupSortable(this);
    });
    // Call me lazy.
    $("#sortable_table").each(function() {
        setupSortable(this);
    });

    // From https://www.bootply.com/VQqzOawoYc ( With added escaping of hash )
    // Javascript to enable link to tab
    var hash = document.location.hash;
    var tab_prefix = "tab_";
    if (hash.match('tab')) {
        $('.nav-tabs a[href=\\'+hash.replace(tab_prefix,"")+']').tab('show');
    }
    
    // Can't mess with this if we are already using this for job listings.
    if (!hash.match('jobList')) {
        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash.replace("#", "#" + tab_prefix);
        });
    }

});

function popmeup(url)
{
    var newwindow;
    newwindow = window.open(url,'name','height=800,width=1000,resizeable,scrollbars=yes');
    if (window.focus) {newwindow.focus()};
    return newwindow;
}
function form_post_popup(form) {
    window.open('','form_popup','height=800,width=700,resizeable,scrollbars=yes');
    form.target = 'form_popup';
}
function confirm_post_pop(form, text) {
    if (confirm(text)) {
        return form_post_popup(form);
    } else {
        return false;
    }
}

function popSummary(entity, entity_id, uid = '') {
    url = "{{ path('summary_show_get', { 'access': 'ajax' }) }}?entity=" + entity + "&entity_id=" + entity_id;
    var popelement = "#popSummary_" + entity + "_" + entity_id + uid;
    ename = entity.replace("_", " ");
    poptitle = ename.charAt(0).toUpperCase() + ename.slice(1);
    poptitle = poptitle + 'summary <a href="#" class="close" data-dismiss="alert"><span style="font-size: 15px" class="glyphicon glyphicon-remove-circle"></span></a>';

    res = $.ajax({
            url: url,
            type: 'GET',
            dataType: 'html'
      }).done( function( contenthtml, textStatus, xhr ) {
        $( popelement ).popover({
            delay: 500,
            html: true,
            placement: "auto top",
            content: contenthtml,
            trigger: "focus",
        });
/* May not need $( popelement ).attr('data-original-title', poptitle); */
        $( popelement ).popover("show");

        $(document).on("click", ".popover .close" , function(){
            $(this).parents(".popover").popover('hide');
        });
      }).fail( function( ) {
        alert("Error grabbing summary");
      });
    return false;
}

function popLogSummary(entity, entity_id, placement = 'auto top') {
    url = "{{ path('summary_show_log', { 'access': 'ajax' }) }}?entity=" + entity + "&entity_id=" + entity_id;
    var popelement = "#popLogSummary_" + entity + "_" + entity_id;
    $.ajax({
            url: url,
            dataType: 'html'
      }).done( function( content, textStatus, xhr ) {
        $( popelement ).popover({
            container: 'body',
            trigger: "focus",
            html: true,
            placement: placement,
            title: 'Log Summary <a href="#" class="close" data-dismiss="alert"><span style="font-size: 15px" class="glyphicon glyphicon-remove-circle"></span></a>',
            content: content
        });
        $( popelement ).popover("show");
        $(document).on("click", ".popover .close" , function(){
            $(this).parents(".popover").popover('hide');
        });
    });
    return false;
}

function openCcModal(url, title) {
    $.get(url, function( data ) {
        $( "#ccModalBody" ).html(data);
        $( "#ccModalTitle" ).html(title);
        $( "#ccModal" ).modal('show');
    });
    return false;
}

</script>

<div class="modal fade" id="ccModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title" id="ccModalTitle"></h4>
      </div>
      <div class="modal-body" id="ccModalBody">
      </div>
    </div>
  </div>
</div> <!-- / modal -->
