<script type="text/javascript">
$(document).ready(function()
    {
        if ($('#sortable_table >tbody >tr').length > 100) {
            $('#sortable_table').dataTable({
                "pageLength": 100,
                "lengthMenu": [[ 100, 200, 500 -1], [100, 200, 500, "All"]]
                });
        } else if ($('#sortable_table >tbody >tr').length < 20) {
            $('#sortable_table').dataTable({
                "paging": false,
                "searching": false
                });
        } else {
            $('#sortable_table').dataTable({
                "paging": false
                });
        }
    }
);

function popmeup(url)
{
    var newwindow;
    newwindow = window.open(url,'name','height=800,width=700,resizeable,scrollbars=yes');
    if (window.focus) {newwindow.focus()};
    return newwindow;
}
function form_post_popup(form) {
    window.open('','form_popup','height=800,width=700,resizeable,scrollbars=yes');
    form.target = 'form_popup';
}
function confirm_post_pop(form, text) {
    if (confirm(text)) {
        return form_post_popup(form);
    } else {
        return false;
    }
}

function popSummary(entity, entity_id, uid = '') {
    url = "{{ path('summary_show_get', { 'access': 'ajax' }) }}?entity=" + entity + "&entity_id=" + entity_id;
    var popelement = "#popSummary_" + entity + "_" + entity_id + uid;
    ename = entity.charAt(0).toUpperCase() + entity.slice(1);

    res = $.ajax({
            url: url,
            type: 'GET',
            dataType: 'html'
      }).done( function( contenthtml, textStatus, xhr ) {
        $( popelement ).popover({
            delay: 500,
            html: true,
            placement: "auto top",
            content: contenthtml,
            title: ename + 'summary <a href="#" class="close" data-dismiss="alert"><span style="font-size: 15px" class="glyphicon glyphicon-remove-circle"></span></a>'
        });
        $( popelement ).popover("show");
        $(document).on("click", ".popover .close" , function(){
            $(this).parents(".popover").popover('hide');
        });
      }).fail( function( ) {
        alert("Error grabbing summary");
      });
    return false;
}

function popLogSummary(entity, entity_id, placement = 'auto top') {
    url = "{{ path('summary_show_log', { 'access': 'ajax' }) }}?entity=" + entity + "&entity_id=" + entity_id;
    var popelement = "#popLogSummary_" + entity + "_" + entity_id;
    $.ajax({
            url: url,
            dataType: 'html'
      }).done( function( content, textStatus, xhr ) {
        $( popelement ).popover({
            container: 'body',
            html: true,
            placement: placement,
            title: 'Log Summary <a href="#" class="close" data-dismiss="alert"><span style="font-size: 15px" class="glyphicon glyphicon-remove-circle"></span></a>',
            content: content
        });
        $( popelement ).popover("show");
        $(document).on("click", ".popover .close" , function(){
            $(this).parents(".popover").popover('hide');
        });
    });
    return false;
}

</script>
