<script type="text/javascript">
$(document).ready(function()
    {
        if ($('#sortable_table >tbody >tr').length > 50) {
            $('#sortable_table').dataTable({
                "pageLength": 50,
                "lengthMenu": [[ 50, 100, 200, 500 -1], [50, 100, 200, 500, "All"]]
                });
        } else if ($('#sortable_table >tbody >tr').length < 10) {
            $('#sortable_table').dataTable({
                "paging": false,
                "searching": false
                });
        } else {
            $('#sortable_table').dataTable({
                "paging": false
                });
        }
{# Until I have two tables on one page, Ill keep this one out.
        $('#sortable_datatable').dataTable();
#}
    }
);

function popmeup(url)
{
    var newwindow;
    newwindow = window.open(url,'name','height=800,width=700,resizeable,scrollbars=yes');
    if (window.focus) {newwindow.focus()};
    return newwindow;
}
function form_post_popup(form) {
    window.open('','form_popup','height=800,width=700,resizeable,scrollbars=yes');
    form.target = 'form_popup';
}
function confirm_post_pop(form, text) {
    if (confirm(text)) {
        return form_post_popup(form);
    } else {
        return false;
    }
}

function popSummary(entity, entity_id, placement = 'auto top') {
    url = "{{ path('summary_show_get', { 'access': 'ajax' }) }}?entity=" + entity + "&entity_id=" + entity_id;
    var popelement = "#popSummary_" + entity + "_" + entity_id;
/* This seems not to be needed, I hope.
 * Which is why I default placement argument to "auto top".
    if (placement == "best") {
        placement = function (context, source) {
            var position = $(source).position();
            if (position.left < 280) {
                return "right";
            }
            if (position.top < 180){
                return "bottom";
            } else {
                return "top";
            }
        }
    }
 */ 
       $.ajax({
            url: url,
            dataType: 'html'
       }).done( function( content, textStatus, xhr ) {
        $( popelement ).popover({
            html: true,
            placement: placement,
            title: 'Summary <a href="#" class="close" data-dismiss="alert">&times;</a>',
            content: content
        });
        $( popelement ).popover("show");
        $(document).on("click", ".popover .close" , function(){
            $(this).parents(".popover").popover('hide');
        });
    });
    return false;
}

</script>
