{% extends 'base.html.twig' %}

{% block body %}
<div id="container">
    <div id="welcome">
        <h1>Welcome to CrewCall</h1>
    </div>

{% for message in sakonnin_messages.messagetype('Front page logged in').messages if message.state == "SHOW" %}
    <div id="status">
<h3>{{ message.subject }}</h3>
        <p>
{{ message.body }}
        </p>
    </div>
{% endfor %}
</div>
{% endblock %}
