# This is made for your config stuff not common with CrewCall Base.
# parameters.yml is for the instance-specific config (DB username and password
# better not be common between dev and prod for example) , this is for the
# application specific.

# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration

#imports:
#    - { resource: "@ExampleBundle/Resources/config/services.yml" }

parameters:
    locale: en

    bisonlab_reports.report_classes:
    # For generated reports, usuaslly uuseful to be able to grab from the web.
    bisonlab_reports.default_filestore: '%kernel.root_dir%/../web/reports'

    sakonnin.function_factories:
        - BisonLab\SakonninBundle\Lib\Sakonnin\SakonninFunctions
    # For the up/download of files attached to objects. This should not be
    # available from the web.
    sakonnin.file_storage: '%kernel.root_dir%/../var/files'

stof_doctrine_extensions:
# You'd better change this I guess :=)
    default_locale: nb_NO
