# This is made for your config stuff not common with CrewCall Base.
# parameters.yml is for the instance-specific config (DB username and password
# better not be common between dev and prod for example) , this is for the
# application specific.

# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration

#imports:
#    - { resource: "@ExampleBundle/Resources/config/services.yml" }

parameters:
    # You may want to change these.
    # Languange - No translations yet, so this is mere sugar.
    locale: en_GB
    # Fullcalendar also use locale, but it may not have what you set above.
    # Check https://github.com/fullcalendar/fullcalendar/tree/master/locales
    # Use the filename without .js
    # If you set "all" it will load the all.js file instead. It's close to 200K
    # where the separate files are 3K.
    fullcalendar_locale: en-gb

    # New users has to be connected to something by default. If it's a ceew
    # member you want to connect it to your organization with a default role.
    # (This is a hen and egg situation since you haven't created your
    # organization when you set up this application. But there is a solutaion
    # to that. The name and role you put here will be created by the
    # once:create-base-data command.
    #
    # This is also what defines a crew member.
    internal_organization:
        name: "Internal"
        default_role: "Crewmember"
        # If you set this to false the organization and role above will be
        # added to all new crew members and no option to set others will be
        # shown. I'd guess this will not be used much.
        allow_external_crew: false

    # This is for setting up the address fields. Different countries has
    # different needs, so we need somewhere for defining those needs.
    # Fields you can use is in Entity/EmbeddableAddress in the CrewCallBundle
    # code.
    # Country differs that it will not be showwn if it is the default country.
    # The values here is the ones shown in the input and edit forms.
    addressing:
        # Mostly, postal address as an extra address is not used. If you want
        # it, set it to true.
        use_postal_address: false
        default_country_code: NO
        default_country_name: Norway
        format:
            - ['addressLine1']
            - ['addressLine2']
            - ['postalCode', 'postalName']
            - ['country']

    # This basically says itself - Maybe false should be default, but at least
    # it'll show that registration is possible.
    allow_registration: true
    # This also basically says itself
    enable_personal_messaging: false

    bisonlab_reports.report_classes:
        - CrewCallBundle\Lib\Reports\Reports
        # - CustomBundle\Lib\Reports\Reports
    # For generated reports, usuaslly uuseful to be able to grab from the web.
    bisonlab_reports.default_filestore: '%kernel.root_dir%/../web/reports'

    sakonnin.function_factories:
        - BisonLab\SakonninBundle\Lib\Sakonnin\SakonninFunctions
        - CrewCallBundle\Lib\Sakonnin\SakonninFunctions
    # For the up/download of files attached to objects. This should not be
    # available from the web.
    sakonnin.file_storage: '%kernel.root_dir%/../var/files'
    # When a message has "expires at" and reaches the expire date, do:
    sakonnin.expire_method: "Archive"
    # And when the message type expunge hits:
    sakonnin.expunge_method: "Delete"

    #
    # Configure the dashboard elements each role needs.
    # TODO: Consider using functions aswell.
    #
    crewcall.dashboarder:
        #
        # Going backwards through the roles. The one hitting the user first,
        # is used.
        # cols is the bootstrap grid columns.
        roles:
            ROLE_ADMIN:
                # Should this be PublicMessages or PublicWall?
                # Too much, the Todo will be able to handle most.
                # On top of that, it uses the "Front page logged in" message
                # type. (Historical reasons, should change it)
                Announcements:
                    cols: 4
                AdminWall:
                    cols: 4
                # Just to be able to place stuff where you want to.
                Dummy:
                    cols: 4
                #ToDo:
                #    cols: 2
                EventsCalendar:
                    cols: 9
                #PersonalMessages:
                #    cols: 4
                ComboWall:
                    cols: 3
                #AdminUpcomingShifts:
                #    cols: 9
            ROLE_USER:
                Announcements:
                    cols: 3
                PersonalMessages:
                    cols: 3
                UpcomingJobs:
                    cols: 6

    crewcall.system_roles:
            ROLE_USER:
                label: 'Crewmember'
                decription: 'User able to use this application (log in)'
            ROLE_ADMIN:
                label: 'Admin'
                decription: 'Admin user'
            ROLE_PERSON:
                label: 'Other'
                decription: 'Person with other roles, like contact for an organization. Not able to log in.'

    # The simplest file types. Need to set it here to override the ones in the
    # Sakonnin Bundle.
    sakonnin.file_types:
        ProfilePicture:
            chooseable: true
            thumbnailable: true
        CV:
            chooseable: true
            thumbnailable: false
        Map:
            chooseable: true
            thumbnailable: false
        DOCUMENT:
            chooseable: true
            thumbnailable: false
        AUTO:
            chooseable: true
            thumbnailable: false
        IMAGE:
            chooseable: true
            thumbnailable: true
        TEXT:
            chooseable: true
            thumbnailable: false
        UNKNOWN:
            chooseable: true
            thumbnailable: false

stof_doctrine_extensions:
    default_locale: '%locale%'
    # Old one, which may be needed instead of using the locale set above. This
    # is because the database locale may have to differ from the application
    # itself (because of languages)
    # default_locale: nb_NO
