# This is made for your config stuff not common with CrewCall Base.
# parameters.yml is for the instance-specific config (DB username and password
# better not be common between dev and prod for example) , this is for the
# application specific.

# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration

#imports:
#    - { resource: "@ExampleBundle/Resources/config/services.yml" }

parameters:
    # You may want to change this.
    locale: en_UK

    # This basically says itself - Maybe false should be default, but at least
    # it'll show that registration is possible.
    allow_registration: true
    # This also basically says itself
    enable_personal_messaging: false

    bisonlab_reports.report_classes:
    # For generated reports, usuaslly uuseful to be able to grab from the web.
    bisonlab_reports.default_filestore: '%kernel.root_dir%/../web/reports'

    sakonnin.function_factories:
        - BisonLab\SakonninBundle\Lib\Sakonnin\SakonninFunctions
    # For the up/download of files attached to objects. This should not be
    # available from the web.
    sakonnin.file_storage: '%kernel.root_dir%/../var/files'

    #
    # Configure the dashboard elements each role needs.
    # TODO: Consider using functions aswell.
    #
    crewcall.dashboarder:
        #
        # Going backwards through the roles. The one hitting the user first,
        # is used.
        roles:
            ROLE_ADMIN:
                - Announcements
                - PublicMessages
                - PersonalMessages
                - AdminMessages
                - AdminUpcomingShifts
            ROLE_USER:
                - Announcements
                - PersonalMessages
                - UpcomingJobs
                - PublicMessages

    crewcall.functiongroups:
        Shift:
            - Worker
        Organization:
            - Organization
            - Employee

stof_doctrine_extensions:
    default_locale: %locale%
    # Old one, which may be needed instead of using the locale set above. This
    # is because the database locale may have to differ from the application
    # itself (because of languages)
    # default_locale: nb_NO
