#example:
#    resource: "@ExampleBundle/Controller/"
#    type:     annotation

#
# This has to be enabled when allow_registration is turned on in
# config_custom.yml
#
#fos_user_register:
#    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
#    prefix: /register

custom:
    resource: "@CustomBundle/Controller/"
    type:     annotation
