parameters:
    app.states:
        # user_chooseable is for deciding if ROLE_USER is allowed to change
        # from and to this state.
        # (It's mainly for the Person state, but I'll keep it for now so it's
        # some consitency around how states are handled in the Entities).
        # (And then I can consider making a trait out of it.)
        CrewCallBundle:
            Person:
                states:
                    ACTIVE:
                        user_chooseable: true
                    # If the person can't work, set OCCUPIED. They can set it
                    # themselves. Not sure if we need to set to and from in
                    # CrewCall or handle that somewhere else.
                    OCCUPIED:
                        user_chooseable: true
                    VACATION:
                        user_chooseable: true
                    SICKLEAVE:
                        user_chooseable: false
                    INACTIVE:
                        user_chooseable: false
                    QUIT:
                        user_chooseable: false
                    LOCKED:
                        user_chooseable: false
                    # Meant for contact persons and so on.
                    EXTERNAL:
                        user_chooseable: false
                    # Denied in registration.
                    DENIED:
                        user_chooseable: false
                # After the end of known states, this is the one to use.
                default_state: 'ACTIVE'
                active_states: ['ACTIVE']
                enable_login: ['ACTIVE', 'OCCUPIED', 'VACATCION', 'SICKLEAVE']
            Event:
                states:
                    # We have an order, and are preparing.
                    PROSPECT:
                        user_chooseable: false
                    # They signed the contract.
                    CONFIRMED:
                        user_chooseable: false
                    CANCELLED:
                        user_chooseable: false
                    # Finished, but not invoiced and so on.
                    DONE:
                        user_chooseable: false
                    # Everything handled, all OK and done.
                    COMPLETED:
                        user_chooseable: false
                # This is for the function "isBooked" and searching for booked
                # events. This is so you can decide if "PROSPECT" is a booked
                # stated or not. If it is booked, people will be able to
                # register interest, if not they will not see it before it's
                # CONFIRMED
                # And when it's DONE, it's kinda booked, but not in that way.
                booked_states: ['CONFIRMED']
                # Yes, not the same as booked, since a PROSPECT is active aswell.
                active_states: ['PROSPECT', 'CONFIRMED']
                done_states: ['CANCELLED', 'DONE', 'COMPLETED']
            Location:
                states:
                    OPEN:
                        user_chooseable: false
                    CLOSED:
                        user_chooseable: false
                active_states: ['OPEN']
            Function:
                states:
                    VISIBLE:
                        user_chooseable: false
                    INVISIBLE:
                        user_chooseable: false
                active_states: ['VISIBLE']
            Shift:
                states:
                    REGISTERED:
                        user_chooseable: false
                    CONFIRMED:
                        user_chooseable: false
                    FULLY_BOOKED:
                        user_chooseable: false
                    COMPLETED:
                        user_chooseable: false
                    CANCELLED:
                        user_chooseable: false
                booked_states: ['FULLY_BOOKED', 'CONFIRMED']
            ShiftOrganization:
                states:
                    ASSIGNED:
                        user_chooseable: false
                    CONFIRMED:
                        user_chooseable: false
                    COMPLETED:
                        user_chooseable: false
                booked_states: ['CONFIRMED']
            Job:
                states:
                    # I want the job!
                    INTERESTED:
                        user_chooseable: false
                    # You can have it if you confirm
                    ASSIGNED:
                        user_chooseable: false
                    # OK, I confirm!
                    CONFIRMED:
                        user_chooseable: false
                    # Sorry, won't give you
                    DENIED:
                        user_chooseable: false
                    # Job done
                    COMPLETED:
                        user_chooseable: false
                booked_states: ['CONFIRMED']
                wishlist_states: ['INTERESTED', 'ASSIGNED', 'DENIED']
            JobLog:
                states:
                    # I just can't some up with any good name for this. It's
                    # the default value and means it has been entered.
                    ENTERED:
                        default: true
                    # Neither this, but this is "Invoiced and person eventually
                    # paid."
                    COMPLETED:
                        default: false
            Organization:
                states:
                    ACTIVE:
                        user_chooseable: false
                    CLOSED:
                        user_chooseable: false
                    BLOCKED:
                        user_chooseable: false
                active_states: ['ACTIVE']
            default:
                states:
                    NONE:
                        user_chooseable: false
                    DEFAULT:
                        user_chooseable: false
                active_states: []
                booked_states: []
                wishlist_states: []
