<?php

use Symfony\Component\HttpKernel\Kernel;
use Symfony\Component\Config\Loader\LoaderInterface;

trait AppKernelCustomTrait
{
    public function registerCustomBundles($bundles)
    {
        $bundles[] = new MigBundle\MigBundle();

        if (in_array($this->getEnvironment(), ['dev', 'test'], true)) {
        }

        return $bundles;
    }
}
