/* Overriding bootstrap.css */
body {
    line-height: 1.3;
}

.contentblock {
    margin-top: 60px;
} 

.form-control {
    width: auto;
} 

.nav > li > a {
  display: block;
  padding: 5px 8px;
}

.showTable {
    margin:10px 0pt 15px;
    border-spacing: 100px;
}
.showTable th {
    margin:10px 0pt 15px;
    vertical-align: top;
    text-align: right;
    padding: 5px 8px;
}
.showTable td {
    margin:10px 0pt 15px;
    padding: 5px 8px;
}

/* Nicked from http://stackoverflow.com/questions/18325779/bootstrap-3-collapse-show-state-with-chevron-icon */
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: left;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

table.records_list {
    font-family: arial;
    margin: 10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table.records_list thead tr th, table.records_list tfoot tr th {
    background: lightgrey;
    border: 1px solid #FFFFFF;
    font-size: 12pt;
    padding: 4px;
}
table.records_list thead tr .header {
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.records_list tbody tr.attrtitle {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    padding: 4px;
    vertical-align: top;
    text-align: center;
}
table.records_list tbody td {
    padding: 4px;
    vertical-align: top;
}
/* From another standard.css I've used: */
table.records_list tbody tr:nth-child(odd) {
    background: white;
}
table.records_list tbody tr:nth-child(even) {
    background: lightgrey;
}

ul {
    list-style-type: none
}

.blbutton {
    border-radius: 4px;
    text-align: center;
    border: 2px solid #e7e7e7;
    background-color: white;
    color: black;
    width: 150px;
}

.record_properties {
    margin:10px 0pt 15px;
    border-spacing: 100px;
}
.record_properties th {
    margin:10px 0pt 15px;
    vertical-align: top;
    text-align: right;
    padding: 5px 8px;
}
.record_properties td {
    margin:10px 0pt 15px;
    padding: 5px 8px;
}
