/*
 * This file is for the local customizations.
 */

/*
 * Stuff we hide.
 */
[for="crewcallbundle_event_state"] { display: none;}
#crewcallbundle_event_state { display: none;}

.adminpersonnote {
    display: none;
    visibility: hidden;
}

.event_contacts {
    display: none;
    visibility: hidden;
}

.ccSlider:before {
  background-color: green;
}
input:checked + .ccSlider:before {
  background-color: red;
}
