/* Overriding bootstrap.css */
body {
    padding-top: 55px;
    line-height: 1.15;
    background-color:#f2f2f2!important;
    margin:0;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color:#212529;
    text-align:leftg
}

h1 {
    font-size: 24px;
}

@media (min-width: 1200px) {
  .container {
    width: 1195px;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1295px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1395px;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1495px;
  }
}

.container {
  padding-left: 5px;
  padding-right: 5px;
}

.contentblock {
} 

.form-control {
    width: auto;
} 

.showTable {
    margin:10px 0pt 15px;
    border-spacing: 100px;
}
.showTable th {
    margin:10px 0pt 15px;
    vertical-align: top;
    text-align: right;
    padding: 5px 8px;
}
.showTable td {
    margin:10px 0pt 15px;
    padding: 5px 8px;
}

.summaryLogTable {
    margin:10px 10px 15px;
    border-spacing: 100px;
}
.summaryLogTable th {
    margin:10px 0pt 15px;
    vertical-align: top;
    padding: 5px 8px;
}
.summaryLogTable td {
    margin:10px 10px 15px;
    padding: 5px 8px;
}
 
.popover{
    max-width: 60%;
}

ul {
    list-style-type: none
}

.cc_notice {
    background-color: yellow;
}

.cc_warn {
    background-color: orange;
}

.cc_error {
    background-color: red;
}

.blbutton {
    border-radius: 4px;
    text-align: center;
    border: 2px solid #e7e7e7;
    background-color: white;
    color: black;
    width: 150px;
}

pre {
    white-space: pre-wrap;
    word-break: keep-all;
}

/*
 * (Data)tables customizing
 */
table {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

table thead,
table tbody,
table tr,
table td,
table th {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e8e8e8;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #fff;
}

.tableOverlap {
  background-color: #F6CCD1;
}


/*

Hover:
#F6CCD1

Dark stripe: 
background-color: #e8e8e8;

Light stripe
background-color: #fff;

 */

/*
 * Override / extend bootstrap
 */

/* Not in the bootstrap css I have here, odd. */
.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

/*
 * Override / extend FullCalendar
 */
.fc-month-view .fc-time {
 display:none
}
.fc-month-view .fc-day-top {
 text-align:center!important
}
.fc-month-view .fc-day-number {
 float:none!important
}
.fc-state-default {
 background-color:#ffffff;
 border-color:#ffffff;
 color:#000000;
 text-shadow: initial;
 box-shadow: initial;
 background-image: initial;
}
.fc-state-active {
 color:#000000;
 border-color: #CBCDCE;
 background-color: #CBCDCE;
}
.fc-unthemed td.fc-today {
 background:#ffff!important;
 font-weight:700
}
.fc-week-number,
.fc-month-view .fc-day-header {
 color:#000000;
 padding-top:3px!important;
 padding-bottom:3px!important;
}
.fc-toolbar .fc-center {
 margin-top:2px
}
.fc-center h2 {
 font-size: 24px;
}
.fc-time-grid-container td,
.fc-time-grid-container tr {
 border:1px solid #eaeaea!important
}
.fc-view-container {
 background-color: #FFFFFF;
 border-color: #CBCDCE;
}
.fc-basic-view .fc-body .fc-row {
 min-height:3.7em!important;
 min-height:4em
}
.fc-scroller {
 overflow-y: hidden !important;
}

/*
 * Custom classes
 */

/*
 * Nicked from
 * http://www.themaninblue.com/experiment/InForm/horizontal.htm
 */
.ccCompactForm fieldset
{
    display: block;
    margin: 0 0 3em 0;
    padding: 0 1em 1em 1em;
    font-size: 10px;
}

.ccCompactForm fieldset.radio
{
    margin: 1em 0 2em 0;
}

.ccCompactForm fieldset.radio input
{
    clear: both;
    float: left;
    width: auto;
}

.ccCompactForm fieldset.radio label
{
    font-weight: normal;
}

.ccCompactForm input
{
    display: block;
/*    width: 15em; */
    font-weight: normal;
}

.ccCompactForm input.submit
{
    clear: both;
}

.ccCompactForm label
{
    float: left;
    display: block;
    margin: 1em 1em 0 0;
    font-weight: bold;
}

.ccCompactForm select
{
    font-weight: normal;
    display: block;
}

.ccAmount
{
    box-sizing: border-box; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 0px;
    margin-right: 0px;
}

.ccNeeded
{
    background-color: grey;
    border-color: grey;
    color: black;
}

.ccConfirmed
{
    background-color: green;
    border-color: green;
    color: white;
}

.ccAssigned
{
    background-color: orange;
    border-color: orange;
    color: white;
}

.ccInterested
{
    background-color: red;
    border-color: red;
    color: white;
}

/*
 * The ugly version, based on the saved STATE which is in CAPS
 */
.ccCONFIRMED
{
    background-color: green;
    border-color: green;
    color: white;
}

.ccASSIGNED
{
    background-color: orange;
    border-color: orange;
    color: white;
}

.ccINTERESTED
{
    background-color: red;
    border-color: red;
    color: white;
}

.ccNotesText
{
    background-color: #fefcc7;
    border-color: #fefcc7;
}

/* The switch - the box around the slider */
.cc_switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}
/* Hide default HTML checkbox */
.cc_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.cc_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.cc_slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 20px;
  left: 2px;
  top: 2px;
  bottom: 2px;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .cc_slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .cc_slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: green;
}

/* Rounded sliders */
.cc_slider.round {
  border-radius: 34px;
}

.cc_slider.round:before {
  border-radius: 50%;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\2212";
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\002b";
}
.panel-heading .state {
    float: right;
}

.panel-default > .panel-heading {
    background-color: #e8e8e8;
    border-color: transparent;
    padding-right: 10px; /* adjust as needed */
    padding-left: 10px; /* adjust as needed */
}
.panel-default {
    border-color: transparent;
}

.panel-body {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f8f8f8;
}
