{% extends 'base.html.twig' %}
{% block title %}Shifts{% endblock %}
{% block body %}
{% include '/job/handling.html.twig' %}
{% include '/shiftorganization/handling.html.twig' %}

    <h1>Shifts</h1>

{% include '/shift/_index.html.twig' %}
{% endblock %}
