{# include made more sense, but then I could not replace blocks from the head ("title" in particular) #}
{% extends 'head.html.twig' %}
{% block base %}
<body>

<header class="fixed-top" id="crewcall-header">
{% block navbar %}
<nav class="navbar navbar-header navbar-expand-sm navbar-light">
 <div class="container-fluid">
    <div class="col-2 ccLogo">
      <a class="navbar-brand" href="{{ path('dashboard') }}">
       <img src="{{ asset('images/logo.gif') }}" border="0" height="40">
      CrewCall
      </a>
    </div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="col-9" id="ccmiddlemenu">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#cc-navbar-collapse" aria-expanded="false" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="cc-navbar-collapse">
          {{ knp_menu_render('mainmenu') }}
      </div>
    </div>
    <div class="navbar-header col-1 ml-auto ccUsermenu" id="ccheadmenu">
          {{ knp_menu_render('usermenu') }}
    </div>
    {% endif %}
 </div><!-- container-fluid -->
</nav>
{% endblock %}
</header>

<div class="container-fluid p-4 mb-5">
  {% block flashmessage %}
<div class="flashmessageblock">
 {% include 'flash.html.twig' with { 'close': true } %}
</div>
  {% endblock %}
  {% block lmenu %}{% endblock %}
<div class="container-fluid contentblock">
  {% block content %}{% endblock %}
  {% block body %}{% endblock %}
</div>
  {% block rmenu %}{% endblock %}
  {% block footer %}{% endblock %}
  {% block javascripts %}{% endblock %}
 </body>
{% endblock %}
