<h4 class="text-uppercase font-weight-bold mt-4">My jobs</h4>
<div class="row">
    <div class="col-sm-4 col-xs-6 p-3">
      <a class="btn badge badge-secondary" href="#" onClick="return getCContent('{{ path('uf_me_jobs', {'view': 'confirmed'}) }}', 'myJobsLink');">Confirmed</a>
      <a class="btn badge" href="#" onClick="return getCContent('{{ path('uf_me_jobs', {'view': 'past'}) }}', 'myJobsLink');">My Hours</a>
    </div>
</div><!-- end row -->
{% if confirmed | length == 0 %}
<div class="alert alert-warning mt-5">No jobs here!</div>
{% endif %}

{% set month = ''%}
<div class="row p-3">
{% for job in confirmed %}
{% if month != job.shift.month %}
{% set month = job.shift.month %}
<h5 class="col-12 p-0 mt-2 font-weight-bold">{{ job.shift.month }}</h5>
{% endif %}
    {% include '/user/_job_card.html.twig' %}
{% endfor %}
</div>
