<h4 class="text-uppercase font-weight-bold mt-4">Sign up for jobs</h4>
{% include '/user/_signup_head.html.twig' %}
{% if interested | length == 0 %}
<div class="alert alert-warning mt-5">No jobs here!</div>
{% endif %}
{% set month = ''%}
<div class="row p-3">
{% for job in interested %}
{% if month != job.shift.month %}
<h5 class="col-12 p-0 mt-2 font-weight-bold">{{ job.shift.month }}</h5>
{% set month = job.shift.month %}
{% endif %}
    {% include '/user/_job_card.html.twig' %}
{% endfor %}
</div>
{% include '/user/_handling.html.twig' %}
