<h4 class="text-uppercase font-weight-bold mt-4">I don't want these</h4>
{% include '/user/_signup_head.html.twig' %}
{% if uninterested | length == 0 %}
<div class="alert alert-warning mt-5">No jobs here!</div>
{% endif %}
{% set month = ''%}
<div class="row p-3">
{% for unint in uninterested %}
{% if month != unint.shift.month %}
<h5 class="col-12 p-0 mt-2 font-weight-bold">{{ unint.shift.month }}</h5>
{% set month = unint.shift.month %}
{% endif %}
    {# Yeah, job card shows job or shift (if no job created) and use "job" as variable for them both #}
    {% set job = unint %} 
    {% include '/user/_job_card.html.twig' %}
{% endfor %}
</div>
{% include '/user/_handling.html.twig' %}
